{% extends "base.html" %} 
{% block title %}data content{% endblock %} 
{% block content%}
    <div class="container">
        <h1>Data Table</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">PDF Path</th>
                    <th scope="col">Download</th>
                    <th scope="col">Whatsapp Link</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row.Name }}</td>
                    <td>{{ row.Number }}</td>
                    <td>{{ row.filePath }}</td>
                    <td> 
                        <a href = "{{ url_for('download', filepath=row.filePath) }}">
                            <img src="static/public/download.svg" width="30" height="30" />
                        </a>
                    </td>
                    <td> 
                        <a href = "{{ row.filePath }}">
                            <img src="static/public/whatsapp-svgrepo-com.svg" width="30" height="30" />
                        </a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{%block script%}
    <script>
        console.log("in content");
        var cav_url
    </script>
{%endblock%}