{% extends "base.html" %} 
{% block title %}data content{% endblock %} 
{% block content%}
    <div class="container">
        <h1>Data Table</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Open PDF</th>
                    <th scope="col">Download</th>
                    <th scope="col">Whatsapp Link</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><input style = "border : 0px solid white" id="name-{{loop.index}}" name="Name" value ="{{row.Name}}" type="" class="form-control"></td>
                    <td><input style = "border : 0px solid white" id="number-{{loop.index}}" name="number" value ="{{row.Number}}" type="tel" class="form-control" pattern="[0-9]{10}"></td>
                    <td> 
                        <a  style = "background-color: transparent; border: 0px solid" onclick = "viewPdf('/{{ row.filePath }}')" target="_blank">
                            <img src="static/public/icons8-open-link.svg" width="30" height="30" ></img>
                        </button>
                    </td> 
                    <td> 
                        <a href = "{{ url_for('download', filepath=row.filePath) }}">
                            <img src="static/public/download.svg" width="30" height="30" />
                        </a>
                    </td>
                    <td> 
                        <button style="background-color: transparent; border: 0px solid transparent;"  onclick = "sendInvitation('{{row.filePath}}'  ,'{{loop.index}}')">
                            <img src="static/public/whatsapp-svgrepo-com.svg" width="30" height="30" />
                        </button>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{%block script%}
<script>

    function sendInvitation(file, index){
        console.log(file,index)
        let number = document.getElementById("number-" + index).value;
        let name = document.getElementById("name-" + index).value;
        console.log(number)

        fetch("/generatePdf?name=" + name)
        .then(res =>  res.text())
        .then(data => {
            console.log("file created at ", data )
            fetch("/sendFile?file=/" + data + "&to="  + number, {method: "POST"})
            .then(
                console.log("Invitation Sent to ", name)
            )
        })
        .catch(error => console.log(error))
    }

    function viewPdf( pdfpath ){
        fetch("/pdfViewer" + pdfpath)
        .then(
            async (response) => {
            const pdfBlob = new Blob([await response.blob()], { type: 'application/pdf' });
            const blobUrl = URL.createObjectURL(pdfBlob);
            window.open(blobUrl, '_blank');
            setTimeout(() => {
                URL.revokeObjectURL(blobUrl);
            }, 5000); 
        }).catch((error)=>{
            console.log("error : ",error);
        });
    } 
    // var cav_url
</script>
{%endblock%}